.comments {
  margin-top: 0.5rem;
}
.header {
  display: flex;
}
.date {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  font-size: small;
  color: darkgray;
}

.author {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  font-size: medium;
  font-weight: bold;
}

.text {
  margin-left: 1rem;
  font-size: medium;
}

.comment_input {
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.show_comments {
  padding-left: 0;
  border: none;
  background-color: white;
  color: black;
}
.button1:hover {
  color: gray;
}
